@charset "UTF-8";
/*-------------------------------------------
色の設定
-------------------------------------------*/
/*-------------------------------------------
breakpointの設定
-------------------------------------------*/
/*-------------------------------------------
Media Queryの設定
-------------------------------------------*/
/*-------------------------------------------
リセットCSS
-------------------------------------------*/
* {
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans";
  color: #24292E;
  box-sizing: border-box;
  font-size: 10px;
}

a {
  text-decoration: none;
  transition: all 0.5s;
}
a::before {
  transition: all 0.5s;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 1.6rem;
}

p, a, li {
  font-size: 1.4rem;
  line-height: 1.8;
}

/*-------------------------------------------
共通クラス
-------------------------------------------*/
.flex_row {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 480px) {
  .flex_row {
    flex-direction: row;
  }
}

.flex_column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*-------------------------------------------
Html
-------------------------------------------*/
html {
  scroll-behavior: smooth;
}

/*-------------------------------------------
Body
-------------------------------------------*/
body {
  padding-top: 50px;
}
@media screen and (min-width: 480px) {
  body {
    padding-top: 0;
  }
}

/*-------------------------------------------
Header
-------------------------------------------*/
header {
  position: fixed;
  top: 0;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 860px;
  padding: 10px 15px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 480px) {
  header {
    position: static;
  }
}
header .logo {
  width: 90px;
}
@media screen and (min-width: 768px) {
  header .logo {
    width: 120px;
  }
}
header .logo a {
  display: block;
  height: 30px;
}
@media screen and (min-width: 768px) {
  header .logo a {
    height: 40px;
  }
  header .logo a:hover {
    opacity: 0.8;
  }
}
header .menu ul {
  display: flex;
  gap: 30px;
  font-size: 0.9rem;
}
@media screen and (min-width: 768px) {
  header .menu ul li a {
    position: relative;
    padding-bottom: 5px;
  }
  header .menu ul li a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 1px;
    background: #24292E;
  }
  header .menu ul li a:hover::before {
    content: "";
    width: 100%;
  }
}

/*-------------------------------------------
MV
-------------------------------------------*/
.mv {
  width: 100%;
  height: 600px;
  background: url(../image/mainvisual.jpg) no-repeat center/cover;
}

/*-------------------------------------------
Section
-------------------------------------------*/
section {
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  section {
    padding: 0 4%;
  }
}

.section-ttl {
  font-weight: 600;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 15px;
  text-decoration-thickness: 1px;
}

/*-------------------------------------------
About
-------------------------------------------*/
.about {
  padding-top: 80px;
}
.about .about__item {
  padding-top: 60px;
  align-items: center;
  gap: 10px 0;
}
@media screen and (min-width: 480px) {
  .about .about__item {
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    max-width: 530px;
  }
}
@media screen and (min-width: 768px) {
  .about .about__item {
    padding-top: 70px;
  }
}
.about .about__item .about__item__left {
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}
.about .about__item .about__item__right .about__item-ttl {
  padding-bottom: 15px;
}

/*-------------------------------------------
Bicycle
-------------------------------------------*/
.bicycle {
  padding-top: 100px;
}
.bicycle .bicycle__articles {
  padding-top: 60px;
  gap: 30px 0;
}
@media screen and (min-width: 480px) {
  .bicycle .bicycle__articles {
    width: 100%;
    gap: 0 15px;
    justify-content: center;
  }
}
.bicycle .bicycle__articles .bicycle__articles__item {
  gap: 10px 0;
}

/*-------------------------------------------
Footer
-------------------------------------------*/
footer {
  padding: 110px 0 10px;
}
footer .copy-right {
  font-size: 0.8rem;
  text-align: center;
}/*# sourceMappingURL=style.css.map */